In [2]:
import pandas as pd
import numpy as np
import sqlite3

df=pd.read_csv('/Users/atularavinddas/Documents/GitHub/ORM_Testing_For_Funny_Epidermiological_Events/funny_epidemiological_events.csv')
df.head()

,Event ID,Condition,Agent,Reporting Agency,Affected Population,City,Event Start Date,Event End Date,Outcome,Cost of Damages ($)
0,2752.0,Zombie Virus Outbreak,Banana Peels,World Dance Federation,4088.0,New York,2014-09-01,2022-05-18,Turned Into Zombie,548009.13
1,7713.0,NaN,Zombie Virus,Banana Safety Commission,42982.0,Miami,NaN,2022-03-18,Became Infected,958705.97
2,3978.0,Radioactive Cheese Contamination,Invisible Dog Virus,NASA,20121.0,Chicago,2021-09-29,2022-07-26,Banished to Space,1644122.66
3,NaN,Chocolate Poisoning,Cellular Rays,PAHO,17550.0,San Francisco,2021-08-27,2022-02-15,NaN,241017.82
4,4653.0,Radioactive Cheese Contamination,Wheat Molecule Mutation,World Dance Federation,44378.0,Miami,2019-07-31,2022-07-18,Quarantined,638143.19

In [3]:
import sqlite3

connection=sqlite3.connect('health_events.db') #This snippet creates a database named health_events.db
df.to_sql('dirty',connection,if_exists='replace',index=False) #This snippet creates a table named dirty in the health_events.db database
connection.close()